<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Dashboard</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('liabilities') }}">Liabilities</a></li>
            <li><a href="{{ url_for('propertyCoverage') }}">Property Coverage</a></li>
        </ul>
    </nav>

    <section id="content">
        <div class="card">
            <h2>Location</h2>
            <p>Use your current location to see rates and plans.</p>
            <button id="location-button">Search</button>
        </div>

        <div class="card">
            <h2>Type of business</h2>
            <p>Enter business info to see rates and plans.</p>
            <button id="bType-button">Search</button>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 LLMK Corp</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
