<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='install-pwa.js') }}"></script>

</head>
<body>
    <header>
        <h1>Policy Pioneer</h1>
        <div class="menu-toggle" onclick="toggleMenu()"><i class="fas fa-bars"></i></div>
    </header>

    <nav id="sidebar" style="visibility: hidden;">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('liabilities') }}">Liabilities</a></li>
            <li><a href="{{ url_for('propertyCoverage') }}">Property Coverage</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </nav>

    <section id="content">
        <!-- Use a simple message on the home page -->
        <div class="card">
            <h2>Welcome to Policy Pioneer</h2>
            <p>Explore the options below to get started.</p>
        </div>

        <div class="card">
            <h2>Go to Map</h2>
            <p>Explore the map with your location.</p>
            <a href="{{ url_for('show_map') }}">Get A Quote</a>
        </div>

        <!-- Use clear, concise headings and descriptions for other pages -->
        <div class="card">
            <h2>Liabilities</h2>
            <p>View information about your liabilities.</p>
            <a href="{{ url_for('liabilities') }}">Learn more</a>
        </div>

        <div class="card">
            <h2>Property Coverage</h2>
            <p>Find information about property coverage.</p>
            <a href="{{ url_for('propertyCoverage') }}">Learn more</a>
        </div>

        <div class="card">
            <h2>About</h2>
            <p>Discover more about us.</p>
            <a href="{{ url_for('about') }}">Learn more</a>
        </div>

        <div class="card">
            <h2>Contact</h2>
            <p>Get in touch with us.</p>
            <a href="{{ url_for('contact') }}">Contact us</a>
        </div>

    </section>

    <footer>
        <p>&copy; 2023 LLMK Corp</p>
    </footer>
</body>
</html>
