<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <header>
        <h1>Property Coverage Insurance</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="liabilities.html">Liabilities</a></li>
            <li><a href="propertyCoverage.html">Property Coverage</a></li>
        </ul>
    </nav>
    <!-- Content specific to the "Liabilities Insurance" page can be added here -->
    <footer>
        <p>&copy; 2023 LLMK Corp</p>
    </footer>
</body>
</html>
